@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f172a; /* This sets the new rich dark background */
  color: white;
  margin: 0;
  padding: 0;
}